POSTGRES_PASSWORD=change-me
CLICKHOUSE_PASSWORD=change-me
RABBITMQ_PASSWORD=change-me

POSTGRES_DB=ecoassethub
POSTGRES_USER=ecoasset
CLICKHOUSE_DB=ecoassethub
CLICKHOUSE_USER=default
RABBITMQ_USER=guest

INSERT_API_TOKEN_ENDPOINT=
INSERT_API_CLIENT_ID=
INSERT_API_CLIENT_SECRET=
INSERT_API_SCOPE=ecoassethub.insert.write
