<button mat-raised-button color="primary" class="float-end" (click)="addSolarPanelClick()">
  Add Solar Panel
</button>
<button mat-raised-button color="primary" class="float-end" (click)="addWindTurbineClick()">
  Add Wind Turbine
</button>
<mat-table [dataSource]="renewAbleList" class="mat-elevation-z8">

  <!-- Index Column -->
  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="meterPointId">
    <mat-header-cell *matHeaderCellDef> MeterPoint Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.meterPointId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="capacity">
    <mat-header-cell *matHeaderCellDef> Capacity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.capacity}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="compassOrientation">
    <mat-header-cell *matHeaderCellDef> Compass Orientation </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.compassOrientation}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hubHeight">
    <mat-header-cell *matHeaderCellDef> Hub Height </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hubHeight}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.type === RenewableAssetType.SolarPanel ? 'SolarPanel' : (element.type === RenewableAssetType.WindTurbine ? 'WindTurbine' : 'RenewableAsset') }} </mat-cell>
  </ng-container>
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="openEditDialog(element)" title="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="openDeleteDialog(element.id)" title="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
