<form [formGroup]="windForm" (ngSubmit)="onSubmit()">
  <!-- MeterPoint Id Field -->
  <mat-form-field appearance="fill">
    <mat-label>MeterPoint Id</mat-label>
    <input matInput formControlName="meterPointId">
  </mat-form-field>

  <!-- Hub Height Field -->
  <mat-form-field appearance="fill">
    <mat-label>Hub Height</mat-label>
    <input matInput formControlName="hubHeight">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Rotor Diameter</mat-label>
    <input matInput formControlName="rotorDiameter">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>capacity</mat-label>
    <input matInput formControlName="capacity">
  </mat-form-field>

  <!-- Add or Update Buttons -->
  <button mat-button type="submit">{{  editData.id.length >  0 ? 'Update' : 'Add' }} Wind Turbine</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</form>
