<form [formGroup]="solarForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Meter Point ID</mat-label>
    <input matInput formControlName="meterPointId" />
    <!-- Add error handling if needed -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Capacity</mat-label>
    <input matInput formControlName="capacity" />
    <!-- Add error handling if needed -->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Compass Orientation</mat-label>
    <input matInput formControlName="compassOrientation" />
    <!-- Add error handling if needed -->
  </mat-form-field>
  <!-- Other fields -->

  <button mat-button type="submit">{{ editData.id.length >  0  ? 'Update' : 'Add' }} Solar Panel</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</form>
